#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#leftside {
    line-height:30px;
    background-color:#eeeeee;
    height:520px;
    width:270px;
    float:left;
    padding:5px;
}
#rightside {
    line-height:30px;
    background-color:#eeeeee;
    height:520px;
    width:250px;
    float:right;
    padding:5px;
    overflow-y:scroll;
}
#abstract {
    line-height:18px;
    background-color:#eeeeee;
    height:250px;
    width:250px;
    float:left;
    padding:5px;
    overflow-y:scroll;
    border: 1px solid black;
}
#claims {
    line-height:18px;
    background-color:#eeeeee;
    height:250px;
    width:250px;
    float:left;
    padding:5px;
    overflow-y:scroll;
    border: 1px solid black;
}
#mynetwork {
    width:450px;
    height:400px;
    overflow-y:scroll;
    border: 1px solid lightgray;
}
#topics {
    width:450px;
    height:100px;
    background-color:#eeeeee;
    border: 1px solid black;
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
